body {
  background: #bb95d6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 1.2rem;
  width: 90vw;
  margin: 8rem auto;
  max-width: 35rem;
  border-radius: .25rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}

.form_control {
  display: flex;
  justify-content: center;
}

.text_input {
  padding: .25rem;
  font-size: 1.2rem;
  background: #e7d0f7;
  flex: 1 0 auto;
  outline: none;
}

.submit_btn {
  background: #5a5a5a;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: transparent;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  background-color: #fffffff7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
  font-size: 1.2rem;
}

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
}

.alert.error {
  background: #ff0000;
  color: #fff;
}

.alert.success {
  background: #42b400;
  color: #000;
}
.btn{
  font-size: 1.2rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
.btn:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}